<%- include("./partials/header") %>
    <h1 class="titel display-3-projecten--title">Zwarte lijst</h1>
    <main class="blackitsed-pagina-main">
        <style>
            body {
                background-image: url('/assets/club-pagina.jpg');
                background-size: cover;
                background-repeat: no-repeat;
            }
        </style>
    <section class="blacklist-section">
    


    
    <% for( club of clubs) { %>
        

        <figure class="figure-fifa">
            <figcaption> <%= club.name %> </figcaption>
            <img src="<%=club.image_url %>" height="120px" ="foto niet beschikbaar" />
            <fieldset> Reden: </fieldset>
            <input  value="<%=club.reason %>" class="input-blacklist" type="text" name="" id="">
            <button id="delete"></a><img class="verwijderKnopje" src="assets/VerwijderKnop.webp" alt="verwijderKnop">
        </figure>
        <% } %>

    
    </section>
    <%- include("./partials/footer") %>