<%- include("./partials/header") %>
    <main class="main-fav-section">
      <style>
         body {
             background-image: url('/assets/images/club-pagina.jpg');
             background-size: cover;
             background-repeat: no-repeat;
         }
     </style>


        <!-- <h1 class="display-3 projecten--title">Favoriete Club</h1> -->
        <section class="figure-section">
         <% for( club of clubs) { %>
            <figure class="figure-infoSection">
               <a href=<%= "/favorieten/clubs/"+club.id %>><img class="figure-img" src=<%= club.image_url %> alt="foto niet beschikbaar" /></a>
               <figcaption class="figcaption-infoSection"><%= club.name %><button id="delete"></a><img class="verwijderKnop" src="/assets/VerwijderKnop.webp" alt="verwijderKnop"></figcaption>
            </figure>
         <% } %>
        
        
        <%- include("./partials/footer") %>
